<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tiiime.chromepower">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/description" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

    </application>

</manifest>
